$opacity-duration = 0.5s

.loader
  background #fff
  fixed top left
  pointer-events none
  size 100%
  z-index calc(infinity)

  .is-loaded &
    opacity 0
    transition opacity $opacity-duration, visibility 0s $opacity-duration
    visibility hidden

@media (scripting none)
  .loader
    display none
