$opacity-duration = 0.5s

.loader
  background #000000
  fixed top left
  size 100%
  z-index calc(infinity)
  .is-loaded &
    opacity 0
    transition opacity $opacity-duration, visibility 0s $opacity-duration
    visibility hidden

@media (scripting none)
  .loader
    display none